CategoryPage.css
.category-page {
  padding: 20px;
  background-color: #f9f9f9;
}
.category-page {
  color: white;
}
.category-section {
  margin-bottom: 40px;
}

.category-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 23%; /* Adjusted width to make the cards smaller */
  padding: 10px; /* Adjusted padding for a more compact look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}

.discount-badge {
  background-color: green;
  color: white;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  border-radius: 3px;
}

.product-card img.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px; /* Adjusted margin for a more compact look */
}

.product-details {
  padding: 5px 0; /* Adjusted padding for a more compact look */
}

.product-details h3 {
  margin: 0;
  font-size: 16px;
  color: #888;
}

.product-details p {
  margin: 5px 0;
  font-size: 16px; /* Adjusted font size for a more compact look */
  font-weight: bold;
}

.product-details select {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.price .original-price {
  text-decoration: line-through;
  color: #888;
}

.add-to-cart {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.add-to-cart:hover {
  background-color: darkred;
}
