src/components/Navbar.css
/* Ensure body has no extra margin and uses full viewport height */
.body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for the Navbar */
.navbar {
  display: flex;
  background-color: #9d8acc;
  padding: 10px 20px;
  justify-content: space-between; /* Distribute space evenly between items */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  position: fixed; /* Fix position to the top */
  top: 0; /* Align to the top of the page */
  left: 0; /* Align to the left of the page */
  z-index: 1000; /* Ensure it stays above other content */
}

/* Style for the brand link */
.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Style for the navigation links */
.navbar-links {
  list-style: none;
  display: flex;
  margin-right: 700px;
  gap: 25px; 
}

/* Style for each list item */
.navbar-links li {
  margin: 0;
}

/* Style for links within the navigation */
.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Style for link hover state */
.navbar-links a:hover {
  text-decoration: underline;
}
